.product {
  width: 280px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product > img {
  height: 170px;
  border-radius: 8px;
}

.product__info > p {
  margin-bottom: 8px;
}

.info__name {
  font-size: 1rem;
  overflow: hidden;
}
.info__description {
  font-size: 0.8rem;
}

.info__price {
  font-weight: bold;
}

.info__button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #171717;
  padding: 8px 16px;
  background-color: #f4f4f4;
  border: 1px solid #171717;
  font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.info__button:hover {
  background-color: #171717;
  color: #f4f4f4;
}

/* TODO: Responsive PRODUCT */
@media (max-width: 1200px) {
  .product {
    width: 300px;
  }
}
@media (max-width: 1080px) {
  .product {
    width: 320px;
  }
}
@media (max-width: 630px) {
    .product {
    width: 420px;
  }
}

